<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KEELS_Super_POS.Properties.Settings.Keels_SuperMarket_DatabaseConnectionString"
            connectionString="Data Source=DESKTOP-SMVQK5B\SQLEXPRESS;Initial Catalog=Keels_SuperMarket_Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
